
<div class="pull-right">
Order by: 
<%= link_to "Last comment", posts_path(:order => "last_comment_time", :category_id => params[:category_id]) %> ｜
<%= link_to "Most comment", posts_path(:order => "comments_count", :category_id => params[:category_id]) %> ｜
<%= link_to "Title", posts_path(:order => "title", :category_id => params[:category_id]) %>｜
<%= link_to "Views count", posts_path(:order => "views_count", :category_id => params[:category_id]) %>
</div>

<div class="clearfix"></div>



<%= search_form_for @q do |f| %>

  <%= f.label :title_cont %>
  <%= f.search_field :title_cont %>
	
  <%= f.submit :class => "btn btn-default"  %>
  

<p>

sort by: 
<% Category.all.each do |c| %>
 <%= link_to c.name, posts_path( :category_id => c ) %> |
 <% end %>

</p>

<% end %>



<table class="table" id="table-style">
	<tr>
		<td>User image</td>
		<td>Title</td>
		<td>Views count</td>
		<td>Comment count</td>
		<td>Comment author</td>
		<td>Like and share</td>
		<td>Edit post</td>
	</tr>

	<% @posts.each do |p| %>
	<tr>
		<td>
			<%= image_tag p.try(:user).try(:gravatar_url) %>
		</td>
		<td>
			<h1>
				<%= link_to p.title, post_path(p) %>
			</h1>
			Published at
			<%= p.created_at %>
			<p>
			Post by 
			<%= p.user.try(:short_name) %>
			</p>
		</td>
		<td>
			<%= p.views_count %>
		</td>
		<td>
			<%= p.comments_count %> 
		</td>
		<td> 
			
			<% @users = p.comments.map{|c| c.user}.uniq %>
			<% @users.each do |u|%>
			<p><%= u.short_name %></p>
			<% end %>
			
		</td>
		<td>
			<div class="fb-like" data-href="https://localhost/3000" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
		</td>		
		<td>
			<% if current_user %>
			<%= link_to 'edit', edit_post_path(p), :class => "btn btn-default" %>
			<%= link_to 'delete', post_path(p), :method => :delete, :class => "btn btn-default" %>
			<% end %>
		</td>	
	</tr>
	<% end %>
</table>

<div class="pull-left">
	<%= link_to "new post", new_post_path, :class => "btn btn-default"  %>
</div>

<div class="pull-right paginate">
	<%= paginate @posts, :theme => 'twitter-bootstrap-3' %>
</div>
	

