
<h3>About</h3>

<hr>
<p>First name: <%= current_user.first_name %></p> 
<p>Last name: <%= current_user.last_name %></p> 
<p>User bio: <%= current_user.bio %></p> 
<hr>

<h3>Your posts</h3>

<br/>
<% @posts.each do |p| %>
<p>Title: <%= p.title %></p>
<p>Content: <%= p.content %></p>
<hr>
<% end %>

 <h3>Your favorite posts</h3>

<ul>
	<% @favorite_posts.each do |f| %>
    <li>
      <%= link_to f.title, post_path(f) %>
    </li>
  <% end %>
</ul>

 <h3>Your likeed posts</h3>

<ul>
	<% @like_posts.each do |f| %>
    <li>
      <%= link_to f.title, post_path(f) %>
    </li>
  <% end %>
</ul>
