<h1>
<%= @post.title %>
</h1>

<hr>

<p>
<%= simple_format @post.content %>
</p>

<p>
<%= link_to "index", posts_path %>
</p>


<!-- comment -->


	<h4>
		This post has 
		<%= @post.comments.count %>
		comments
	</h4>

	
<% @post.comments.each do |c| %>
	<%= c.comment %>	
	<hr>
<% end %>

<%= form_for @comment , :url => post_comments_path(@post)  do |f| %>
	<div class="form-group">
		<%= f.label :comment, "Comment" %>
		<%= f.text_area :comment, :class => "form-control" %>
	</div>
		<%= f.submit %>	
	
<% end %>

	

<%= link_to "Edit", edit_post_path(@post), class: "button" %>
<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to do this?" }, class: "button" %>
