<h1>
<%= @post.title %>
</h1>

<hr>
<% if @post.logo.exists? %>
<%= image_tag(@post.logo.url) %>
<% else %>
None
<% end %>


<p>
<%= simple_format @post.content %>
</p>
<hr>

<!-- comment -->

<h4>
	This post has 
	<%= @post.comments.count %>
	comments
</h4>

	
<% @post.comments.each do |c| %>
<p>
comment by
<%= @post.user.short_name %>
</p>
	<%= c.comment %>	

	<%= link_to 'edit', edit_post_comment_path(@post, c), :class => "btn btn-default" %>
	<%= link_to 'delete', post_comment_path(@post, c), :method => :delete, :class => "btn btn-default" %>
	<hr>
<% end %>



<%= form_for @comment , :url => post_comments_path(@post, @comment)  do |f| %>
<%= render :partial => 'comment_form', :locals => {:f => f } %>

<p>
<%= f.submit "create", :class => "btn btn-primary" %>
</p>	
	
<% end %>

	
